.post {
    width: 625px;
    max-height: 250px;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: 1px white solid;
    border-radius: 20px;
    margin-bottom: 32px;
}

.authorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
}

.profilePicture {
    height: 60px;
    border-radius: 60px;
}

.authorDetails {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.textContainer {
    padding-top: 20px;
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    margin: 16px 16px;
}

.text {
    min-height: 5em;
    padding: 0 24px;
    color: rgba(74, 74, 74, 0.87);
    font-weight: 590;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.032em;
}

.text:focus {
    border: 0;
}
